@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@500&display=swap');

body{
    background-image: url("./fridgescrape_back.png");
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 750px;
    min-height: 500px;
    margin-top: 100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: auto;
    clear: both;
    text-align: center;
}


.logo{
    background-image: url("./fridgescrape_logo.png");
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;

}

.fridgescrape{
    margin-top: 10px;
    font-size: 40px;
}

.padding{
    margin-bottom: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formSpacing{
    margin-top: 150px;
}

.buttonContainer{
    margin-top: 10px;
}

.formWidth{
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}